
<div class="explanation">
  <p>
There isn't much to see here.
  </p>
  <p>
<b>Expressions</b> are atomic pieces of <b>processes instances</b>.
  </p>
  <p>
Have a look at the <a href="/processes">processes</a> and then follow their links to their set of expressions.
  </p>
</div>

