
<div class="explanation">
  <p>
A process instance is a set of expressions.
  </p>
  <p>
There are three kinds of expressions : environment expressions (for keeping tracks of process variables), applied expressions and raw expressions.
  </p>
  <p>
Applied expressions have received a workitem (the process execution has reached them) but they haven't been replied to yet.
  </p>
  <p>
Raw expressions are expressions which have not yet been applied. They may be modified.
  </p>
</div>

