<hr/>
<div class="footer">
    GET /definitions | 
    <a href="/processes">GET /processes</a> | 
    <a href="/participants">GET /participants</a> | 
    <a href="/workitems">GET /workitems</a> | 
    GET /errors
</div>

</body>
</html>
