
<hr/>

<div class="footer">
  <div class="h_left" style="float: left;">
    <a href="/service">GET /service</a> | 
    <a href="/processes">GET /processes</a> | 
    <a href="/expressions">GET /expressions</a> | 
    <a href="/workitems">GET /workitems</a> | 
    <a href="/errors">GET /errors</a> | 
    <a href="/participants">GET /participants</a> |
    <a href="/history">GET /history</a>
  </div>

  <% t = request.path_info.split('/')[1] %>

  <div class="h_right" style="float: right;">
    <a href="<%= as_x_href('xml') %>">as xml</a> |
    <% if defined?("render_#{t}_json") %>
      <a href="<%= as_x_href('json') %>">as json</a>
    <% else %>
      as json
    <% end %>
    <% if t == 'history' %>
      | <a href="<%= as_x_href('atom') %>">as atom</a>
    <% end %>
  </div>
  <div style="clear: both;"></div>
</div>

</body>
</html>

