
<html>

  <head>

    <title><%= request.path_info %></title>

    <link rel="alternate" type="application/xml" href="<%= "#{request.scheme}://#{request.host}:#{request.port}#{request.fullpath}" %>" />
    <!-- TODO : add application/json alt link -->

    <style>
body {
    /*text-align: center;*/
    color: #888;
    font-family: Helvetica;
    font-size: 14px;
    margin: 20px 70px;
}
/* #content {
    margin: 0 auto;
    width: 500px;
    text-align: left;
} */
.explanation {
    font-size: 12px;
    font-style: italic;
}
.process {
    margin-top: 10px;
}
.error {
    margin-top: 10px;
}
.expression {
    margin-top: 10px;
}
.participant {
    margin-top: 10px;
}
.workitem {
    margin-top: 10px;
}
    </style>
  </head>

<body>

  <div class="header">
    <div class="h_left" style="float: left;">
        <a href="http://openwferu.rubyforge.org/index.html#rr">OpenWFEru</a> ruote-rest
    </div>
    <div class="h_right" style="float: right;">
        <span><%= response.status %></span>
    </div>
    <div style="clear: both;"></div>
  </div>

<hr/>

