<html>

    <head>
        <title><%= request.path_info %></title>
    </head>

<body>

<div class="header">
    <a href="http://openwferu.rubyforge.org/index.html#rr">OpenWFEru</a> ruote-rest
</div>
<hr/>

