<html>

    <head>
        <title><%= request.path_info %></title>
        <style>
            body {
                /*text-align: center;*/
                color: #888;
                font-family: Arial;
                font-size: 14px;
                margin: 20px 70px;
            }
            #content {
                margin: 0 auto;
                width: 500px;
                text-align: left;
            }
            .process {
                margin-top: 10px;
            }
        </style>
    </head>

<body>

<div class="header">
    <a href="http://openwferu.rubyforge.org/index.html#rr">OpenWFEru</a> ruote-rest
</div>
<hr/>

