
<html>

  <head>

    <title><%= request.path_info %></title>

    <link rel="alternate" type="application/xml" href="<%= "#{request.scheme}://#{request.host}:#{request.port}#{request.fullpath}" %>" />
    <!-- TODO : add application/json alt link -->

    <link rel="stylesheet" type="text/css" media="screen" href="/css/application.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="/css/<%= request.path_info.split('/')[1] %>.css" />

  </head>

<body>

  <div class="header">
    <div class="h_left" style="float: left;">
      <a href="/service">ruote-rest</a>, a RESTful wrapper for <a href="http://openwferu.rubyforge.org/index.html#rr">ruote</a>
    </div>
    <div class="h_right" style="float: right;">
      <span><%= response.status %></span>
    </div>
    <div style="clear: both;"></div>
  </div>

<hr/>

