
<h4>GET /participants</h4>

<div class="explanation">listing the participants registered in the engine.</div>

<% participants.each do |part| %>
    <%= render_participant_html part, false %>
<% end %>

<hr/>

<h4>POST /participants</h4>

<div class="explanation">adding a participant to the engine in ruote-rest</div>

<br/>


<%= some_javascript %>

<script>

    function on_participant_class () {

        sel = document.getElementById('new_participant_class');

        if (sel.value == 'OpenWFE::Extras::ActiveStoreParticipant')
            show('store_name');
        else
            hide('store_name');
    }
</script>

<form action="/participants" method="POST" enctype="multipart/form-data">

    <div>regex : <br/>
    <input type="text" name="regex" /></div>

    <div>class : <br/>
    <select id="new_participant_class" name="class" onchange="on_participant_class()">
        <option>OpenWFE::Extras::ArParticipant</option>
        <!--option>OpenWFE::Extras::ActiveStoreParticipant</option-->
    </select></div>

    <div id="store_name" style="display: none">store name : <br/>
    <input type="text" name="store_name" /></div>

    <br/>

    <div><input type="submit" value="POST /participants" /></div>
</form>

