
<h4>GET /processes</h4>

<div class="explanation">listing all the processes currently running</div>

<% processes.values.each do |process| %>
    <%= render_process_html(process, false) %>
<% end %>

<hr/>

<%= some_javascript %>

<div id="show_launch">
  <a href="#" onclick="show('launchform'); hide('show_launch'); return false;">process launch form</a>
</div>

<form 
  id="launchform" 
  action="/processes" 
  method="POST" 
  enctype="multipart/form-data" 
  style="display: none;"
>
    <h4>POST /processes</h4>
    
    <div class="explanation">launching a new process instance</div>

    <div>process definition :
        <div><input 
            name="pdef_url" 
            type="text" 
            size="50"
        /> (url)</div>
            <!--value="public/process_definitions/sequence0.rb" -->
        or
        <div><textarea name="pdef" cols="40" rows="7">class Test0 &lt; OpenWFE::ProcessDefinition
  sequence do
    participant :ref =&gt; "alpha"
    concurrence do
      participant :ref =&gt; "bravo"
      participant :ref =&gt; "charly"
    end
  end
end</textarea> (definition)</div>
    </div>

    <div>initial payload :
        <div><textarea name="fields" cols="40" rows="4">{ "key0": "value0", "key1": "value1" }</textarea> (json)</div>
    </div>
    <div>launch : <input type="submit" value="POST /processes"></div>
</form>

