
<h4>GET /processes</h4>

<div class="explanation">listing all the processes currently running</div>

<% @processes.values.each do |process| %>
    <%= render_process_html(process, false) %>
<% end %>

<hr/>

<h4>POST /processes</h4>

<div class="explanation">launching a new process instance</div>

<br/>

<form action="/processes" method="POST" enctype="multipart/form-data">
    <div>process definition :<br/>
        <div><input 
            name="pdef_url" 
            type="text" 
            size="50"
        /> (url)</div>
            <!--value="public/process_definitions/sequence0.rb" -->
        or
        <div><textarea name="pdef" cols="40" rows="7">class Test0 &lt; OpenWFE::ProcessDefinition
    sequence do
        participant ref="alpha"
        participant ref="bravo"
    end
end</textarea> (definition)</div>
    </div>

    <br/>
    <br/>

    <div>initial payload :<br/>
        <div><textarea name="fields" cols="40" rows="4">{ "key0": "value0", "key1": "value1" }</textarea> (json)</div>
    </div>
    <div><input type="submit" name="launch" value="launch"></div>
</form>
