
<div class="explanation topexp">
  This is the 'service' document, it enumerates and links to the various resources (collections) available
</div>

<div class="workspace">
  <div>
    <a class="collection" href="/processes">GET /processes</a>
    <div class="explanation">
      enumerating the processes currently running in the workflow engine
    </div>
  </div>
  <div>
    <a class="collection" href="/workitems">GET /workitems</a>
    <div class="explanation">
      the workitems sitting in the worklist
    </div>
  </div>
  <div>
    <a class="collection" href="/errors">GET /errors</a>
    <div class="explanation">
      errors affecting running processes
    </div>
  </div>
  <div>
    <a class="collection" href="/participants">GET /participants</a>
    <div class="explanation">
      the participants to the processes
    </div>
  </div>
  <div>
    <a class="collection" href="/history">GET /history</a>
    <div class="explanation">
      the history of the processes
    </div>
  </div>
  <div>
    <a class="collection" href="/processes/0/variables.json">GET /processes/0/variables.json</a>
    <div class="explanation">
      variables set at the engine level
    </div>
  </div>
</div>

