
table.history {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
table.history thead th {
  text-align: left;
  font-size: 90%;
}
table.history tr:hover {
  background-color: #efefef;
}
table.history td {
  font-size: 80%;
}

table.history td.created_at {
  width: 210px;
}
table.history td.since {
  text-align: right;
  width: 60px;
  padding-right: 5px;
}

